<!-- <base href="https://cdn.rawgit.com/download/polymer-cdn/1.8.0/lib/">
<script src="webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="polymer/polymer.html">

<dom-module id="basic-component">
    <style>
        :host {
            display: block;
        }

        .basicComponentContainer {
            padding: 10px;
            background-color: LightPink;
            border-radius: 5px;
        }
    </style>
    <template>
        <!-- <div class="basicComponentContainer">
            <div>basic component by [[name]]</div>
            <slot></slot>
        </div> -- ->

<div class="basicComponentContainer">
    <h1>User Information</h1>
    <ul>
        <li>Name: [[name]]</li>
        <li>Age: [[age]]</li>
        <li>Salary: [[salary]]</li>
        <li>Country: [[country]]</li>
        <li>Employee: [[employee]]</li>
        <li>Description:
            <slot></slot>
        </li>
    </ul>
</div>
</template>
<script>
    Polymer({
        is: 'basic-component',
        properties: {
            name: {
                type: String
            },
            age: {
                type: Number
            },
            salary: {
                type: String
            },
            country: {
                type: String
            },
            employee: {
                type: Boolean
            },
        }
    });
</script>
</dom-module> -->

<!-- <base href="https://cdn.rawgit.com/download/polymer-cdn/1.8.0/lib/">
<script src="webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="polymer/polymer.html">


<dom-module id="basic-component">

    <template>

        <style>
            .page {
                width: 360px;
                padding: 2% 0 0;
                margin: auto;
                font-size: var(--medium, 16px);
            }

            .defaultSpace {
                padding: var(--medium, 16px);
                margin: 0 0 var(--medium, 16px);
                width: 100%;
                border: 0;
                box-sizing: border-box;
            }

            .card {
                border-radius: var(--extra-small, 4px);
                background: var(--base-light, white);
                padding: var(--ultra-big, 44px);
                text-align: center;
                box-shadow: 0 0 var(--medium, 16px) 0 rgba(0, 0, 0, 0.2),
                0 var(--extra-small, 4px) var(--extra-small, 4px) 0 rgba(0, 0, 0, 0.24);
            }

            .card input {
                background: var(--base-grey, #f2f2f2);
            }

            .primary-block {
                background: var(--primary-color, #4c50af);
                color: white;
            }




            .primary-title {
                font-weight: 300;
                color: var(--base-dark, #1a1a1a);
            }

            .accent {
                color: var(--accent-color, yellow);
                ;
            }

            .muted {
                color: var(--mutted-color, #b3b3b3);
            }

            .link {
                color: var(--secundary-color, #76b852);
                text-decoration: none;
            }

            button {
                background: var(--secundary-color, #76b852);
                color: var(--base-light, white);
                cursor: pointer;
            }
        </style>
        <div class="page">

            <div class="card">
                <h1 class="primary-title defaultSpace">Change the input</h1>
                <div class="primary-block defaultSpace">
                    Hola:
                    <span class="accent">[[name]] </span>
                </div>

                <input type="text" class="defaultSpace" placeholder="name" value="{{name::input}}" on-change="userNameChanged" />

                <p>Then click outside to see the on-change event</p>

            </div>
        </div>

    </template>

    <script>
        Polymer({
            is: 'basic-component',
            properties: {
                name: {
                    type: String,
                    value: 'Pollo'
                }
            },
            userNameChanged: function () {
                this.fire('on-blur', { 'name': this.name });
            }
        });
    </script>
</dom-module> -->


<base href="https://cdn.rawgit.com/download/polymer-cdn/1.8.0/lib/">
<script src="webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="polymer/polymer.html">


<dom-module id="basic-component">

    <template>

        <style>
            .page {
                width: 360px;
                padding: 2% 0 0;
                margin: auto;
                font-size: var(--medium, 16px);
            }

            .defaultSpace {
                padding: var(--medium, 16px);
                margin: 0 0 var(--medium, 16px);
                width: 100%;
                border: 0;
                box-sizing: border-box;
            }

            .card {
                border-radius: var(--extra-small, 4px);
                background: var(--base-light, white);
                padding: var(--ultra-big, 44px);
                text-align: center;
                box-shadow: 0 0 var(--medium, 16px) 0 rgba(0, 0, 0, 0.2),
                0 var(--extra-small, 4px) var(--extra-small, 4px) 0 rgba(0, 0, 0, 0.24);
            }

            .card input {
                background: var(--base-grey, #f2f2f2);
            }

            .primary-block {
                background: var(--primary-color, #4c50af);
                color: white;
            }

            /* added styles*/

            .accent-block {
                background: var(--accent-color, yellow);
                color: black;
            }

            .secundary-block {
                background: var(--secundary-color, #76b852);
                color: white;
            }

            .mutted-block {
                background: var(--mutted-color, #b3b3b3);
                color: white;
            }

            /* end added styles*/

            .primary-title {
                font-weight: 300;
                color: var(--base-dark, #1a1a1a);
            }

            .accent {
                color: var(--accent-color, yellow);
                ;
            }

            .muted {
                color: var(--mutted-color, #b3b3b3);
            }

            .link {
                color: var(--secundary-color, #76b852);
                text-decoration: none;
            }

            button {
                background: var(--secundary-color, #76b852);
                color: var(--base-light, white);
                cursor: pointer;
            }
        </style>
        <div class="page">
            <div class="card">
                <h1 class="primary-title defaultSpace">User data</h1>
                <div class$="[[status]]-block defaultSpace">
                    <span>[[user.id]]</span>
                    <span class="accent">[[user.name]] </span>
                    <div>[[user.description]]</div>
                </div>
            </div>
        </div>

    </template>

    <script>
        Polymer({
            is: 'basic-component',
            properties: {
                status: {
                    type: String,
                    value: 'primary'
                },
                user: {
                    type: Object,
                    value: function () {
                        return { 'id': "1244332", 'name': 'Guzman', 'description': 'Awesome developer' }
                    }
                }
            }
        });
    </script>
</dom-module>