<base href="https://cdn.rawgit.com/download/polymer-cdn/1.8.0/lib/">
<script src="webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="polymer/polymer.html">


<dom-module id="button-click">

    <template>

        <style>
            .page {
                width: 360px;
                padding: 2% 0 0;
                margin: auto;
                font-size: var(--medium, 16px);
            }

            .defaultSpace {
                padding: var(--medium, 16px);
                margin: 0 0 var(--medium, 16px);
                width: 100%;
                border: 0;
                box-sizing: border-box;
            }

            .card {
                border-radius: var(--extra-small, 4px);
                background: var(--base-light, white);
                padding: var(--ultra-big, 44px);
                text-align: center;
                box-shadow: 0 0 var(--medium, 16px) 0 rgba(0, 0, 0, 0.2),
                0 var(--extra-small, 4px) var(--extra-small, 4px) 0 rgba(0, 0, 0, 0.24);
            }

            .card input {
                background: var(--base-grey, #f2f2f2);
            }

            .primary-block {
                background: var(--primary-color, #4c50af);
                color: white;
            }

            .accent-block {
                background: var(--accent-color, yellow);
                color: black;
            }

            .secundary-block {
                background: var(--secundary-color, #76b852);
                color: white;
            }

            .mutted-block {
                background: var(--mutted-color, #b3b3b3);
                color: white;
            }

            .primary-title {
                font-weight: 300;
                color: var(--base-dark, #1a1a1a);
            }

            .accent {
                color: var(--accent-color, yellow);
                ;
            }

            .muted {
                color: var(--mutted-color, #b3b3b3);
            }

            .link {
                color: var(--secundary-color, #76b852);
                text-decoration: none;
            }

            button {
                background: var(--secundary-color, #76b852);
                color: var(--base-light, white);
                cursor: pointer;
            }
        </style>
        <div class="page">

            <div class="card">
                <h1 class="primary-title defaultSpace">click on the buttons to change the colors</h1>

                <div class$="[[status]]-block defaultSpace">
                    <span>[[user.id]]</span>
                    <span class="accent">[[user.name]] </span>
                    <div>[[user.description]]</div>
                </div>

                <button class="defaultSpace" on-tap="toGreen">to green</button>

                <button class="defaultSpace" on-tap="toYellow">to Yellow</button>

                <button class="defaultSpace" on-tap="toGrey">to Grey</button>

            </div>
        </div>

    </template>

    <script>
        Polymer({
            is: 'button-click',
            properties: {
                user: {
                    type: Object,
                    value: function () {
                        return { 'id': "1244332", 'name': 'Guzman', 'description': 'Awesome developer' }
                    }
                },
                status: {
                    type: String,
                    value: 'primary'
                },
            },
            toGreen: function (e) {
                this.status = 'secundary';
            },
            toYellow: function (e) {
                this.status = 'accent';
            },
            toGrey: function (e) {
                this.status = 'mutted';
            },
        });
    </script>
</dom-module>