<base href="https://cdn.rawgit.com/download/polymer-cdn/1.8.0/lib/">
<script src="webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="polymer/polymer.html">


<dom-module id="employee-list-component">
    <template>
        <style>
            .page {
                width: 360px;
                padding: 2% 0 0;
                margin: auto;
                font-size: var(--medium, 16px);
            }

            .defaultSpace {
                padding: var(--medium, 16px);
                margin: 0 0 var(--medium, 16px);
                width: 100%;
                border: 0;
                box-sizing: border-box;
            }

            .card {
                border-radius: var(--extra-small, 4px);
                background: var(--base-light, white);
                padding: var(--ultra-big, 44px);
                text-align: center;
                box-shadow: 0 0 var(--medium, 16px) 0 rgba(0, 0, 0, 0.2),
                0 var(--extra-small, 4px) var(--extra-small, 4px) 0 rgba(0, 0, 0, 0.24);
            }

            .card input {
                background: var(--base-grey, #f2f2f2);
            }

            .primary-block {
                background: var(--primary-color, #4c50af);
                color: white;
            }

            .primary-title {
                font-weight: 300;
                color: var(--base-dark, #1a1a1a);
            }

            .accent {
                color: var(--accent-color, yellow);
                ;
            }

            .muted {
                color: var(--mutted-color, #b3b3b3);
            }

            .link {
                color: var(--secundary-color, #76b852);
                text-decoration: none;
            }

            button {
                background: var(--secundary-color, #76b852);
                color: var(--base-light, white);
                cursor: pointer;
            }
        </style>
        <div class="page">
            <div class="card">
                <div>
                    <label>Escribe un tipo de empleado:('developer', 'engineer', 'boss')
                        <br>
                        <input class="defaultSpace" value="{{employeeType::input}}" placeholder="type">
                    </label>
                </div>
                <h1> Employee list: </h1>
                <template is="dom-repeat" id="repeater" items="[[employees]]" as="employee" index-as="report_no" filter="filterByType" observe="type, employeeType">
                    <div class="primary-block defaultSpace">
                        <div>Report number:
                            <span class="accent">[[report_no]]</span>
                        </div>
                        <div>Id:
                            <span class="accent">[[employee.id]]</span>
                        </div>
                        <div>First name:
                            <span class="accent">[[employee.first]]</span>
                        </div>
                        <div>Last name:
                            <span class="accent">[[employee.last]]</span>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'employee-list-component',
            properties: {
                employeeType: {
                    type: String,
                    value: ''
                },
                employees: {
                    type: Array,
                    value: function () {
                        return [{ 'id': "1244332", 'first': 'Guzman', 'last': 'Paniagua', 'type': 'engineer' },
                        { 'id': "4412432", 'first': 'Mauricio', 'last': 'García', 'type': 'boss' },
                        { 'id': "9923123", 'first': 'Benjamin', 'last': 'Sanchez', 'type': 'engineer' },
                        { 'id': "9923123", 'first': 'Karla', 'last': 'Vargas', 'type': 'developer' }]
                    }
                }
            },
            observers: [
                'employeeTypeChanged(employeeType)'
            ],
            employeeTypeChanged: function () {
                this.$.repeater.render();
            },
            isEngineer: function (item) {
                return item.type == 'engineer';
            },
            filterByType: function (item) {
                if (this.employeeType == null || this.employeeType == undefined || this.employeeType == '') {
                    return true;
                }
                else {
                    return this.employeeType == item.type
                }
            },
        });
    </script>
</dom-module>