<base href="https://cdn.rawgit.com/download/polymer-cdn/1.8.0/lib/">
<script src="webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="polymer/polymer.html">

<dom-module id="heroes-component">
    <style is="custom-style">
        :host {
            display: block;
        }

        .heroesComponentContainer {
            padding: 10px;
            background-color: LightGrey;
            border-radius: 5px;
        }

        .heroes li {
            cursor: pointer;
        }
    </style>
    <template>
        <div class="heroesComponentContainer">
            <h2>My Heroes</h2>
            <ul class="heroes">
                <template is="dom-repeat" id="menu" items="{{heroes}}" as="hero">
                    <li on-tap="onSelect">
                        <span class="badge">{{hero.id}}</span> {{hero.name}}
                    </li>
                </template>
            </ul>
            <h2>[[selectedHero.name]] Details</h2>
            <div>
                <span>id: [[selectedHero.id]]</span>
            </div>
            <div>
                <label>name:
                    <input value="{{selectedHero.name::input}}" placeholder="Name">
                </label>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'heroes-component',
            properties: {
                heroes: {
                    type: Array,
                    value: function () {
                        return [{ id: 11, name: 'Mr. Nice' },
                        { id: 12, name: 'Narco' },
                        { id: 13, name: 'Bombasto' },
                        { id: 14, name: 'Celeritas' },
                        { id: 15, name: 'Magneta' },
                        { id: 16, name: 'RubberMan' },
                        { id: 17, name: 'Dynama' },
                        { id: 18, name: 'Dr IQ' },
                        { id: 19, name: 'Magma' },
                        { id: 20, name: 'Tornado' }];
                    }
                },
                hero: {
                    type: Object,
                    value: function () {
                        return {
                            id: 1,
                            name: "WindStorm"
                        }
                    }
                },
                selectedHero: {
                    type: Object,
                    value: function () {
                        return {
                            id: 1,
                            name: 'Windstorm'
                        };
                    }
                }
            },
            onSelect: function (event) {
                this.set('selectedHero', {
                    name: this.heroes[event.model.index].name,
                    id: this.heroes[event.model.index].id,
                    index: event.model.index
                });
            },
            observers: [
                '_selectedHeroChanged(selectedHero.name)'
            ],
            _selectedHeroChanged: function () {
                this.set("heroes." + this.selectedHero.index + ".name", this.selectedHero.name);
            },
        });
    </script>
</dom-module>