<base href="https://cdn.rawgit.com/download/polymer-cdn/1.8.0/lib/">
<script src="webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="polymer/polymer.html">

<dom-module id="login-component">
    <style>
        .page {
            width: 360px;
            padding: 2% 0 0;
            margin: auto;
            font-size: var(--medium, 16px);
        }

        .defaultSpace {
            padding: var(--medium, 16px);
            margin: 0 0 var(--medium, 16px);
            width: 100%;
            border: 0;
            box-sizing: border-box;
        }

        .card {
            border-radius: var(--extra-small, 4px);
            background: var(--base-light, white);
            padding: var(--ultra-big, 44px);
            text-align: center;
            box-shadow: 0 0 var(--medium, 16px) 0 rgba(0, 0, 0, 0.2),
            0 var(--extra-small, 4px) var(--extra-small, 4px) 0 rgba(0, 0, 0, 0.24);
        }

        .card input {
            background: var(--base-grey, #f2f2f2);
        }

        .primary-block {
            background: var(--primary-color, #4c50af);
            color: white;
        }

        .primary-title {
            font-weight: 300;
            color: var(--base-dark, #1a1a1a);
        }

        .accent {
            color: var(--accent-color, yellow);
            ;
        }

        .muted {
            color: var(--mutted-color, #b3b3b3);
        }

        .link {
            color: var(--secundary-color, #76b852);
            text-decoration: none;
        }

        button {
            background: var(--secundary-color, #76b852);
            color: var(--base-light, white);
            cursor: pointer;
        }
    </style>
    <template>
        <div class="page">
            <div class="card">
                <p>Username: [[user.username]], Pass: [[user.password]]</p>
                <input type="text" class="defaultSpace" placeholder="username" value="{{user.username::input}}" />
                <input type="password" class="defaultSpace" placeholder="password" value="{{user.password::input}}" />
                <button class="defaultSpace">login</button>
                <p>Not registered?
                    <a href="#" class="link">Create an account</a>
                </p>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "login-component",
            properties: {
                user: {
                    type: Object,
                    value: () => {
                        return {
                            username: "Guzman",
                            password: "Poky"
                        }
                    }
                }
            },
        });
    </script>
</dom-module>