<base href="https://cdn.rawgit.com/download/polymer-cdn/1.8.0/lib/">
<script src="webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="polymer/polymer.html">


<dom-module id="repeater-list-changes">
  
  <template>
    
<style>
.page {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
  font-size: var(--medium, 16px);
}
.defaultSpace {
  padding: var(--medium, 16px);
  margin: 0 0 var(--medium, 16px);
  width: 100%;
  border: 0;
  box-sizing: border-box;
}
.card {
  border-radius: var(--extra-small, 4px);
  background: var(--base-light, white);
  padding: var(--ultra-big, 44px);
  text-align: center;
  box-shadow: 0 0 var(--medium, 16px) 0 rgba(0, 0, 0, 0.2),
    0 var(--extra-small, 4px) var(--extra-small, 4px) 0 rgba(0, 0, 0, 0.24);
}
.card input {
  background: var(--base-grey, #f2f2f2);
}
.primary-block {
  background: var(--primary-color, #4c50af);
  color: white;
}
.primary-title {
  font-weight: 300;
  color: var(--base-dark, #1a1a1a);
}
.accent {
  color: var(--accent-color, yellow);;
}
.muted {
  color: var(--mutted-color, #b3b3b3);
}
.link {
  color: var(--secundary-color, #76b852);
  text-decoration: none;
}

button {
  background: var(--secundary-color, #76b852);
  color:  var(--base-light, white);
  cursor: pointer;
}

  </style>
    
    <div class="page">

  <div class="card">
    <p  class="primary-title defaultSpace">users.0.name:[[users.0.name]]</p>
    <template is="dom-repeat" id="menu" items="{{users}}" as="user">
    <div class="primary-block defaultSpace">
      <span>[[user.id]]</span>
     <span class="accent">[[user.name]]</span>
      <div>[[user.description]]</div>
     
    </div>
      </template>
      
     
     
<button on-tap="edit" class="defaultSpace" >Edit</button>
     <button on-tap="editWithNotifyPath" class="defaultSpace" >Edit with notify path</button>
      <button on-tap="editWithSet" class="defaultSpace" >Edit with set</button>
    <br>    <br>
          <button on-tap="delete" class="defaultSpace" >Delete</button>
          <button on-tap="deleteWithSet" class="defaultSpace" >Delete  with set</button>
     <br>    <br>
       <button on-tap="refresh" class="defaultSpace" >refresh</button>
          <br>    <br>
       <button on-tap="restart" class="defaultSpace" >restart</button>
  </div>

  </template>
   
  <script>
    Polymer({
      is: 'repeater-list-changes',
      properties: {
        users: {
          type: Array,
          value: function(){
            return [{'id': "1244332",'name': 'Guzman', 'description': 'Awesome developer'},
{'id': "4412432",'name': 'Noe', 'description': 'Amazing developer'},
{'id': "9923123",'name': 'Eder', 'description': 'Expert developer'}]
          }
        }
      },
      edit: function(e) {
        this.users[0].name="guzman with equal";        
      },
      editWithNotifyPath: function(e) {
        this.users[0].name="guzman with notify path";
        this.notifyPath('users.0.name');
      },
      editWithSet: function(e) {
        this.set("users.0.name","guzman with set");
      },
      delete: function(e) {
       this.users.splice(0, 1);
      },
      deleteWithSet: function(e) {
        this.splice('users', 0, 1);
      },
      refresh: function(e) {
        var newUsers = JSON.parse(JSON.stringify(this.users));
        this.set('users', newUsers);
      },
      restart: function(e) {
        var newUsers = [{'id': "1244332",'name': 'Guzman', 'description': 'Awesome developer'},
{'id': "4412432",'name': 'Noe', 'description': 'Amazing developer'},
{'id': "9923123",'name': 'Eder', 'description': 'Expert developer'}];
        this.set('users', newUsers);
      }
    });
  </script>
</dom-module>
