<base href="https://cdn.rawgit.com/download/polymer-cdn/1.8.0/lib/">
<script src="webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="polymer/polymer.html">

<dom-module id="variable-element">
    <style>
        :host {
            display: inline-block;
            font-size: 2em;
        }
    </style>
    <template>
        <div>
            <span>
                Este componente muestra los ciclos de vida que tiene Polymer
            </span>
            <!-- <content></content> -->
        </div>
    </template>
    <script>
        Polymer({
            is: 'variable-element',
            properties: {
                variable: {
                    type: String,
                    value: 'Hola mundo'
                }
            },
            created: function () {
                console.clear();
                this.style.border = '1px solid red';
                console.log(this.localName + '#' + this.id + ' was created ::::' + this.get('variable'));
            },
            ready: function () {
                console.log(this.localName + '#' + this.id + ' has local DOM initialized :::: ' + this.get('variable'));
            },
            attached: function () {
                console.log(this.localName + '#' + this.id + ' was attached :::: ' + this.get('variable'));
                setTimeout(() => {
                    console.log(this.get('variable'));
                }, 3000);
            },
            detached: function () {
                console.log(this.localName + '#' + this.id + ' was detached');
            }
        });
    </script>
</dom-module>