body {
  font-family: "Roboto";
  font-weight: 200;
  text-align: center;
}

.contenedor-irrelevante {
  height: 600px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  /* align-content: center; */
  justify-content: center;
}

.JT-hidden {
  display: none;
}

/* Checar */

.JT-tab-expanded {
  box-shadow: 0 10px 20px -5px #666;
  -webkit-box-shadow: 0 10px 20px -5px #666;
  -moz-box-shadow: 0 10px 20px -5px #666;
  /* margin: 5%; */
}

/* Checar */

.JT-expanded-container {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  top: 0px;
  left: 0px;
  height: 80%;
  width: 90%;
  margin: 5%;
}

.JT-expanded-title {
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 8vmin;
  font-weight: inherit;
}

.JT-expanded-content {
  display: flex;
  padding: 0% 5%;
  font-size: 3vmin;
}

.JT-expanded-close {
  display: flex;
  cursor: pointer;
  padding: 1%;
  border-radius: 50%;
  font-size: 4vmin;
  font-weight: 12em;
}

.JT-expanded-close:hover {
  animation-name: close-hover-shadow;
  animation-duration: 250ms;
  animation-timing-function: linear;
  box-shadow: inset 0 45px 20px #999;
  -webkit-box-shadow: inset 0 45px 20px #999;
  -moz-box-shadow: inset 0 45px 20px #999;
}

@keyframes close-hover-shadow {
  0% {
    box-shadow: inset 0 0 #999;
    -webkit-box-shadow: inset 0 0 #999;
    -moz-box-shadow: inset 0 0 #999;
  }
  100% {
    box-shadow: inset 0 45px 20px #999;
    -webkit-box-shadow: inset 0 45px 20px #999;
    -moz-box-shadow: inset 0 45px 20px #999;
  }
}

.JT-expanded-close:active {
  animation-name: close-active-shadow;
  animation-duration: 250ms;
  animation-timing-function: linear;
  box-shadow: inset 0 45px 20px #777;
  -webkit-box-shadow: inset 0 45px 20px #777;
  -moz-box-shadow: inset 0 45px 20px #777;
}

@keyframes close-active-shadow {
  0% {
    box-shadow: inset 0 45px 20px #999;
    -webkit-box-shadow: inset 0 45px 20px #999;
    -moz-box-shadow: inset 0 45px 20px #999;
  }
  100% {
    box-shadow: inset 0 45px 20px #777;
    -webkit-box-shadow: inset 0 45px 20px #777;
    -moz-box-shadow: inset 0 45px 20px #777;
  }
}

.JT-container {
  position: initial;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px -5px #777;
  -webkit-box-shadow: 0 10px 20px -5px #777;
  -moz-box-shadow: 0 10px 20px -5px #777;
  /*top: 0px;
  left: 0px;
  height: 80%;
  width: 90%;*/
  margin: 5%;
}

.JT-tab-selector {
  display: flex;
  justify-content: space-around;
  height: 15%;
}

.JT-tab-selector-item {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 3.5vmin;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 2%;
}

.JT-tab-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15%;
}

h1.JT-tab-container-title {
  font-size: 8vmin;
  font-weight: inherit;
  color: #03a9f4;
}

.JT-tab-container-content {
  font-weight: 100;
  font-size: 4vmin;
  max-width: 50vw;
}

.JT-tab-selector-item:hover {
  animation-name: shadow;
  animation-duration: 250ms;
  animation-timing-function: linear;
  box-shadow: 0 10px 20px -5px #777;
  -webkit-box-shadow: 0 10px 20px -5px #777;
  -moz-box-shadow: 0 10px 20px -5px #777;
  opacity: .9;
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 #777;
    -webkit-box-shadow: 0 0 #777;
    -moz-box-shadow: 0 0 #777;
  }
  100% {
    box-shadow: 0 10px 20px -5px #777;
    -webkit-box-shadow: 0 10px 20px -5px #777;
    -moz-box-shadow: 0 10px 20px -5px #777;
  }
}

.JT-expanded {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  animation-name: expand;
  animation-duration: 500ms;
  animation-timing-function: linear;
  /* top: 0%;
  left: 0%;
  width: 90%;
  height: 80%; */
  z-index: 1000;
  position: fixed;
  /* margin: 5%; */
}

@keyframes expand {
  0% {
    /* top: 0%; */
    width: 0%;
    height: 0%;
  }
  100% {
    /* margin: 5%; */
    /* top: 0%;
    left: 0%;
    width: 90%;
    height: 80%; */
    z-index: 1000;
  }
}

.JT-collapsed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-name: eather;
  animation-duration: 500ms;
  animation-timing-function: linear;
  /* top: 0%;
  left: 0%; */
  width: 0%;
  height: 0%;
  position: fixed;
}

@keyframes eather {
  0% {
   /*  width: 100%;
    height: 100%; */
  }
  100% {
    width: 0%;
    height: 0%;
  }
}

/* Checar */

.JT-appear {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  animation-name: appear;
  animation-duration: 500ms;
  animation-timing-function: linear;
  /* top: 0px;
  left: 0px;
  height: 80%;
  width: 90%; */
  /* margin: 5%; */
}

@keyframes appear {
  0% {
    /* top: 2.5%;
    left: 2.5%;
    height: 75%;
    width: 85%; */
    opacity: .1;
  }
  100% {
    /* top: 0%;
    left: 0%;
    height: 80%;
    width: 90%; */
    opacity: .9;
  }
}

/* Checar */

.JT-desappear {
  /* display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; */
  animation-name: desappear;
  animation-duration: 500ms;
  animation-timing-function: linear;
  /* top: 2.5%;
  left: 2.5%;
  height: 75%;
  width: 85%;
  margin: 5%; */
}

@keyframes desappear {
  0% {
    /* top: 0%;
    left: 0%;
    height: 80%;
    width: 90%; */
    opacity: .9;
  }
  100% {
    /* top: 2.5%;
    left: 2.5%;
    height: 75%;
    width: 85%; */
    opacity: .1;
  }
}